<template>
  <div>
  <button @click="download">Download</button>
  <button @click="fullscreen">FullScreen</button>
  <button @click="resoluton1080p">1080p</button>
  <button @click="resoluton720p">720p</button>
  <button @click="resoluton480p">480p</button>
  <div class="webviewer" style="background-color: black;">
    <canvas id="canvas" v-bind:width="this.width" v-bind:height="this.height"></canvas>
  </div>
  </div>
</template>

<script>

document.asset_request = function (request_id, uri) 
{
  console.log("asset_request request_id: ", request_id);
  console.log("asset_request uri: ", uri);
  //document.msg = request;
  /*axios({
        url: uri,
        method: 'GET',
        responseType: 'blob',
    }).then((response) => {
          //var fileURL = window.URL.createObjectURL(new Blob([response.data]));
          //var fileLink = document.createElement('a');

          //fileLink.href = fileURL;
          //fileLink.setAttribute('download', 'file.pdf');
          //document.body.appendChild(fileLink);

          //fileLink.click();
    });*/
};

export default {
  name: 'RustWebViewer',
  props: {
    width: Number,
    height: Number
  },
  data() {
    return {
      mod: Promise,
      //msg: "Why?",
    }
  },
  beforeCreate()
  {
    import("../../rustwebviewer/pkg").then(wasm => {
      this.mod = new wasm.WasmApp();
      this.mod.init();
      this.mod.update();
    });
  },
  created()
  {
    
  },
  mounted()
  {
    
  },
  methods:
  {
    download()
    {
      this.mod.resource_request("Model","assets/FlightHelmet.glb");
    },
    fullscreen()
    {

    },
    resoluton1080p()
    {

    },
    resoluton720p()
    {

    },
    resoluton480p()
    {

    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
