<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <RustWebViewer v-bind:width="640" v-bind:height="480" />

  </div>
</template>

<script>
import RustWebViewer from "./components/RustWebViewer.vue";

export default {
  name: "App",
  components: {
    RustWebViewer
  },
  methods: {
    onClick(url_path) {

    }
  }
};

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
